:root {
  --background-color: #f1f4fa;
  --font-color: #3d6bc7;
  --shadow-color: #abb2c0;
  --icon-filter: invert(38%) sepia(70%) saturate(649%) hue-rotate(183deg) brightness(92%)
    contrast(91%);
}

.main-app {
  font-family: 'Jost', sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  min-height: 100vh;
  font-size: 20px;
}

/* ~~~~~~~~~~~~~~~HEADER~~~~~~~~~~~~~~~ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  background-color: var(--background-color);
  box-shadow: 0 1px 10px var(--shadow-color);
  z-index: 10;
}

.header > a {
  font-size: 20px;
  font-weight: 600;
}

.nav {
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-weight: 500;
}

.menu-btn {
  display: none;
}

/* ~~~~~~~~~~~~~~~CONTENT~~~~~~~~~~~~~~~ */

.content {
  padding: 69px 20px 50px;
}

#intro > div {
  font-size: 30px;
  font-weight: 500;
}

#intro > p {
  font-size: 24px;
}

.section-title {
  font-size: 28px;
  font-weight: 500;
}

#intro,
#about,
#projects,
#contact {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 69px;
}

.contact-info {
  display: flex;
  gap: 10px;
  margin: 15px 0;
  align-items: center;
}

.contact-info img {
  width: 28px;
  filter: var(--icon-filter);
}

.icon-container {
  display: flex;
  gap: 15px;
  padding-top: 5px;
}

.icon-container img {
  width: 35px;
  display: block;
  filter: var(--icon-filter);
}

/* ~~~~~~~~~~~~~~~PROJECTS~~~~~~~~~~~~~~~ */

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.project-div {
  max-width: 370px;
  box-shadow: 0 0 10px var(--shadow-color);
  border-radius: 7px;
  overflow: hidden;
}

.top img {
  width: 100%;
  display: block;
}

.bottom {
  padding: 20px;
}

.project-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title {
  font-size: 22px;
  font-weight: 500;
}

.project-links {
  display: flex;
  gap: 7px;
}

.project-links img {
  width: 30px;
  filter: var(--icon-filter);
  display: block;
}

.bottom > p {
  margin-top: 15px;
}

.tech {
  font-style: italic;
  font-weight: 450;
}

.fullstack,
.frontend {
  font-size: 24px;
  font-weight: 500;
}

.fullstack {
  padding: 20px 10px 30px;
}

.frontend {
  padding: 50px 10px 30px;
}

/* ~~~~~~~~~~~~~~~MOBILE VIEW~~~~~~~~~~~~~~~ */

@media (max-width: 500px) {
  .header {
    padding: 20px 30px;
  }

  .nav {
    display: none;
    position: absolute;
    flex-direction: column;
    right: 30px;
    top: 55px;
    background-color: var(--background-color);
    box-shadow: 0 0 10px var(--shadow-color);
    border-radius: 5px;
    padding: 20px;
  }

  .show {
    display: flex;
  }

  .menu-btn {
    display: block;
    background-color: inherit;
    border: none;
    cursor: pointer;
  }

  .menu-btn img {
    width: 29px;
    filter: var(--icon-filter);
    display: block;
  }

  .project-container {
    gap: 50px;
  }
}
